.messages {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 40px;
}

.conversationsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid var( --color-main);
    border-radius: 20px;
}

.dialogsItem {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

.dialogs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30%;
}

.link {
    text-decoration: none;
    color: black;
    padding: 30px;
}

.avatar {
    width: 80px;
}

.messageInput {
    width: 350px;
    height: 80px;
    resize: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 5px;
    border-color: var(--color-dark-shade);
}

.btnSend {
    height: 35px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid var(--color-dark-shade);
    background-color: var(--color-second-accent);
    color: var(--color-dark-shade);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.btnSend:hover {
    color: white;
    background-color: var(--color-dark-shade);
}