.person {
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.containerPersonPhoto {
    display: flex;
    flex-direction: column;
}

.btnChangePhoto {
    margin-top: 10px;
    color: var(--color-first-accent);
}

.containerPersonInfo {
    margin-left: 60px;
}

.personPhoto {
    width: 200px;
}

.fullname {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-first-accent);
}

.aboutMe {
    font-size: 24px;
}

p {
    margin-bottom: 5px;
}