.header {
  grid-area: header;
  background-color: var(--color-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerLogo{
  padding: 20px;
}

.logo {
  width: 200px;
}

.login {
  color: var(--color-second-accent);
  font-size: 24px;
  font-weight: 600;
  margin-right: 30px;
  text-decoration: none;
}

.btnLogout {
  background-color: var(--color-main);
  border: 3px solid var(--color-second-accent);
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-second-accent);
  cursor: pointer;
}